@import '../../../styles/variables.scss';


.languages {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 2rem;
    gap: 2rem;
}

.language_info {
    width: 100%;
    text-align: center;
    background-color: $servicesbgColor;
    padding: 1rem 0;

    h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;

        span {
            color: $baseColor;
            text-decoration: underline;
        }
    }

    p {
        margin: 0;
        margin-top: 1rem;
        font-size: 1.2rem;
    }
}

.language_flag {
    width: 50%;
    margin: 0 auto;
    position: relative;
    transition: all .8s ease;

    &:hover {
        scale: 1.5;
        transform: rotateY(360deg);
    }

    img {
        border: 7px solid $servicesbgColor;
        border-radius: 50%;
        width: 100%;
        position: relative;


    }



    .arc {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 8px solid;
    }

    .arc_start {
        border-color: $baseColor $baseColor $baseColor transparent;
        transform: rotate(45deg);
    }

    .arc_end {
        border-color: $baseColor $baseColor $baseColor transparent;
    }

    .progress-85 {
        transform: rotate(100deg);
    }

    .progress-60 {
        transform: rotate(75deg);
    }

    .progress-100 {
        border-color: $baseColor;
    }
}

@media only screen and (min-width: 420px) {
    .language_flag {
        width: 30%;
    }
}

@media only screen and (min-width: 992px) {
    .languages {
        flex-direction: row;
        margin-bottom: 0rem;
        gap: 0rem;
    }

    .language_info {
        background-color: transparent;
        padding: 0;
    }

    .language_flag {
        width: 50%;

    }
}