// background and font color

$baseColor: rgb(40, 65, 255);
$bgColor: rgb(16, 16, 16);
$servicesbgColor: rgb(25, 25, 25);
$borderColor: rgb(71, 71, 71);
$textColor: rgb(255, 255, 255);
$headerLinksColor: rgb(215, 215, 215);
$headerBgColor: rgba(33, 33, 33);

// social media color
$instagramColor: rgb(228, 48, 63);
$telegramColor: rgb(0, 151, 212);
$whatsappColor: rgb(0, 232, 110);
$githubColor: rgb(54, 54, 56);
$instagramBgColor: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);

$bigTitle: 3.5rem;
$smallTitle: 2rem;
$subTitle: 1.5rem;
$sideSocialLinks: 1.5rem;
$authorName: 1.2rem;
$headerLinks: 1.2rem;
$downloadBtn: 1.2rem;
$aboutSocialLinks: 2rem;
$aboutSummary: 1.2rem;
$svgIconsInServices: 4rem;
$textSize: 1.2rem;