@import '../../../styles/variables.scss';


.interests {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

.interests_info {
    width: 100%;
    text-align: center;
    background-color: $servicesbgColor;
    padding: 1rem;
    transition: all .5s ease;

    svg {
        font-size: 7rem;
        color: rgba($baseColor, .7);
        transition: all .5s ease-in-out
    }

    h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    p {
        margin-top: 1rem;
        line-height: 1.2;
        letter-spacing: .5px;
    }


    &:hover {
        svg {
            color: $textColor;
        }

        scale: 1.2;
        background-color:rgba($baseColor, .5);
    }


}

@media only screen and (min-width: 992px) {

    .interests {
        flex-direction: row;
        gap: .5rem;
    }
}

@media only screen and (min-width: 1050px) {
    .interests {
        gap: 1rem;
    }
}