@import '../../styles/variables.scss';

.user_auth {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .user_auth_links {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    span {
        font-size: 2em;
        color: white;
        transition: all .5s ease;

        &:hover {
            color: $baseColor;
        }

    }
}