@import '../../../styles/variables.scss';

.about_me-description {
  width: 100%;
  display: flex;
  flex-direction: column;

  img {
    margin: 0 auto;
    margin-top: -2rem;
    width: 100%;
    max-width: 350px;
  }


  .about_me-who_am_i {
    margin-top: 3rem;
    width: 100%;
    text-align: center;

    h3 {
      color: $baseColor;
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 1.5rem;
      line-height: 1.2;
      margin-bottom: 2rem;
    }

    p {
      margin-top: 0;
      line-height: 1.5;
      letter-spacing: 1px;
    }
  }
}

.about_me-summary {
  border-top: 1px solid rgba(168, 168, 168, 0.5);
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;

  .about_me-summary-inside {
    text-align: left;

    ul {
      li {
        font-size: $aboutSummary;
        padding-top: 1rem;
      }
    }

    span {
      margin-left: .5rem;
      color: rgba($textColor, .65);
    }

    .span_email {
      color: $baseColor;
    }
  }


}

.about_me-summary_cv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
  margin-top: 2rem;
  gap: 1rem;

  button {
    background: none;
    border: 2px solid $baseColor;
    padding: 1rem 2rem;
    color: $baseColor;
    transition: all 0.5s;
    font-size: $downloadBtn;

    &:hover,
    &:focus {
      box-shadow: inset 0 0 0 2rem $baseColor;
      color: $textColor;
    }
  }

  p {
    padding: 0;
    margin: 0;
    line-height: normal;
    letter-spacing: normal;
  }

  ul {
    display: flex;
    align-items: center;

    li {
      margin-right: 1.5rem;
      transition: all .5s ease;

      a {
        color: $textColor;
        font-size: $aboutSocialLinks;
      }

      svg {
        transition: all .5s ease;
      }

      &:hover svg {
        scale: 1.8;
        rotate: 360deg;
      }

      &.instagram:hover svg {
        color: $instagramColor;
      }

      &.telegram:hover svg {
        color: $telegramColor;
      }

      &.whatsapp:hover svg {
        color: $whatsappColor;
      }

      &.github:hover svg {
        color: $githubColor;
      }
    }
  }
}


@media only screen and (min-width: 768px) {
  .about_me-summary_cv {
    margin-top: 3rem;
    gap: 1.5rem;
  }
}

@media only screen and (min-width: 1200px) {


  .about_me-description {
    flex-direction: row;
    justify-content: space-between;

    img {
      margin: 0 auto;
      max-width: 450px;
    }

    .about_me-who_am_i {
      margin: 0;
      width: 68%;
    }
  }

  .about_me_img {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about_me-summary {
    margin-top: 0rem;
    gap: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .about_me-summary_cv {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    gap: 0rem;
  }
}