@import '../../../styles/variables.scss';


.about_sevrices {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;

  div {
    padding: 2rem;
    background-color: $servicesbgColor;

    h3 {
      margin: 1rem 0;
      font-size: $subTitle;
    }

    p {
      margin: 0 0 1rem 0;
      color: rgba($textColor, .5);
      line-height: 1.5;
    }
  }
}

.service_logo {
  svg {
    font-size: $svgIconsInServices;
    color: $baseColor;

    path {
      stroke: $baseColor;
    }
  }
}

.breaker {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 992px) {
  .about_sevrices {
    flex-direction: row;

    div {
      max-width: 33%;
    }
  }

  .breaker {
    margin-bottom: 2rem;
  }
}