@import '../../styles/variables.scss';

.modal_container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    h2,
    h3,
    h4,
    p,
    li {
        line-height: 1.2;
        letter-spacing: 1px;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.7rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    p,
    li {
        font-size: 1.1rem;
        color: rgba($textColor, .8);
    }


}

.modal_wrapper {
    max-width: 50%;
    height: auto;
    max-height: 80vh;
    background-color: $servicesbgColor;
    color: white;
    border-radius: 10px;
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }


}

.modal_title {
    border-bottom: 1px solid silver;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;

    button {
        background-color: transparent;

        svg {
            font-size: 2rem;
            color: white;
            transition: all .5s ease;
        }

        &:hover {
            svg {
                color: $baseColor;
            }
        }
    }


}

.modal_content {
    padding: 1rem 2rem;

    h3,
    h4,
    p,
    li {
        margin-bottom: 1rem;
    }

    ul,
    ol {
        li {
            margin-left: 2rem;
        }
    }

    ul {
        li {
            position: relative;

            &::before {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto 0;
                left: -1.5rem;
                content: '';
                height: 10px;
                width: 10px;
                background-color: rgba($textColor, .8);
                border-radius: 50%;
            }
        }
    }
}